<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="p:domain_verify" content="93c8e85b24e28fd27500e1c4ca4af247" />
   <link href="/atom.xml" rel="alternate" title="XhochY" type="application/atom+xml" />
   <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">
   <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
   <script>hljs.initHighlightingOnLoad();</script>
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css" type="text/css" media="screen, projection" />

</head>
<body style="padding-top:50px">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">XhochY</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/imprint.html">Impressum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {{ content }}
    <hr />
    <div class="row">
      <div class="span3">
        <a href="/atom.xml">Posts</a>
        <span class="label label-warning">Feed</span>
      </div>
      <div class="span3">
        <a href="http://github.com/xhochy/">github.com/xhochy</a><br />
      </div>
      <div class="span3">
        <a href="http://twitter.com/xhochy/">@xhochy</a><br />
      </div>
      <div class="span3"></div>
    </div>
      <div class="footer">
        <div class="contact">
          <p>
          </p>
        </div>
        <div class="rss">
          <p>
          </p>
        </div>
      </div>
      </div>
  </div>

<a href="http://github.com/xhochy">
  <img style="position: absolute; top: 30px; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" />
</a>

</body>
</html>
